@mixin reset(){
    margin:0;
    padding:0;
}

@mixin flex(){
    display: flex;
    justify-content: center;
    align-items:center;
}

.header{

    @include reset;

    display: grid;
    grid-column: 1fr;

    height: 23vh;

    .logo-container{

        display: flex;
        align-items: center;

        @include reset;

        width: 100%;
        background-color: black;

        img{
        	width: 300px;
        	margin-left: 10%;
        }
    }

    #search-form{

        @include flex;

        width: 100%;
        background-color:#C42521;

        div{

            @include flex;

            background-color: white;
            border-radius: 5px;

            width: 80%;
            height: 65%;

            .search-field{
                margin:2% 0;
                width: 90%;
                border:none;
                outline: none;
            }

            .search-field, img{
                height: 70%;
            }

        }
    }
}

@media (max-width: 1000px) {
    .header {
        display: flex;
        justify-content: center;

        .logo-container{

            img{
            	margin:0;
            }

        }
    }
}
