@mixin reset(){
    margin:0;
    padding:0;
}

@mixin flex(){
    display: flex;
    justify-content: center;
    align-items:center;
}

.header{

    @include reset;

    height: 11.5vh;

    .logo-container{

        display: flex;
        align-items: center;

        @include reset;

        width: 100%;
        background-color: black;

        img{
        	width: 300px;
        	margin-left: 10%;
        }
    }
}

// @media screen and (max-width: 1000px) {

// }
