@mixin flex(){
	display: flex;
	justify-content: center;
	align-items: center;	
}

.footer{
	@include flex;
	flex-flow: column nowrap;
	background-color: black;
	color:white;

	text-align: center;
	
	.footer-logo{
		width: 275px;
		margin:1% 0;
	}

	.digital-stores-buttons{
		width:100%;
		margin:1% 0;
		@include flex;

		.digital-store-button{
			background-color:transparent;
			cursor: pointer;
			width: 23vw;
			border:none;
			outline:none;

			img{
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 1000px){
	.digital-stores-buttons{
		flex-flow: column nowrap;

		.digital-store-button{
			width: 50vw;
		}
	}
}